body {
  font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
	color: #FFFFFF;
	font-size: 16;
	padding: 5;
	text-shadow: 1px 1px 1px #A1A1A1;
  background-image:url(bg.png); 
  background-repeat:repeat;
  margin-left:60px;
  margin-right:60px;
}

h1 {
  color: #990033;
  font: 32px/1 Helvetica, Arial, sans-serif; }

header h1 {
  font-size: 40px;
  line-height: 80px;
  background: transparent url(/images/logo.png) 0 0 no-repeat;
  background-size: 5% 70%;
  padding-left: 84px; }

  #imageList {
  padding-left: 30px;
  line-height: 1.5em;
  list-style-image: url(check.png);
}

  #subImageList {
  padding-left: 55px;
  line-height: 1.5em;
  list-style-image: url(check.png);
}

.textAr {
   border-style:solid;
border-width:15px;
}
  
.RespCorr {
  color: #00FF00;
}

.RespIncorr {
  color: #FF0000;
}

 .QuestionS {
  font-size: 30px;
  color: #FFFFFF;
  text-align: left;
  padding-left: 84px;
}

 .AnswerStyle {
  font-size: 20px;
  color: #000000;
  text-align: left;
  margin: 10;
}

 .SubjectStyle {
  font-size: 40px;
  color: #000000;
  text-align: center;
  padding-top: 20px;
}

.questionStyle {
  color: #000000;
  margin-left: 100px;
}

 .DateStyle {
  font-size: 20px;
  color: #000000;
  text-align: right;
  padding-right: 54px;
}

nav {
  font-weight: bold; }
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    background: #282828;
    overflow: hidden; }
  nav li {
    float: left; }
  nav a {
    text-decoration: none;
    display: block;
    padding: 8px;
    background: #282828;
    color: white; }
    nav a:hover {
      background: #58ACFA; }

p {
  font: 15px/1.4 Helvetica, Arial, sans-serif; }

label {
  display: block;
}

input {
  color: #FFFFFF;
  background: #282828; 
}

nav a.current {
  background: #0B4C5F; }

.flash {
  width: 600px;
  padding: 5px;
  font-weight: bold;
  margin: 20px;
  background: #ffccdd;
  color: #990033;
  border: 1px solid #990033; }

#like p {
  font-weight: bold;
  color: #990033; }
#like input {
  background: #990033 url(/images/like.png) 0 2px no-repeat;
  border: #660022 1px solid;
  height: 28px;
  padding-left: 24px; }

.loadfile {
  background-color: #444444;
  border-radius: 5px;
  border: 2px solid #DDD;
  line-height: 80px;
  height: 20px;
  padding: 5px; }
  .loadfile button, .loadfile input {
    color: #444444;
    float: left;
    list-style: none;
    display: inline;
    text-align: center;
    font-weight: bolder; }
  .loadfile button:hover, .loadfile input:hover {
    cursor: pointer; }

.error {
  color: #ff6600;
  background-color: #444444; }

.success {
  color: #00ff33;
  background-color: #282828; }

.centered {
  text-align: center; }


#mocha {
  font: 20px / 1.5 "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
  margin: 10px 20px;
  ul, li {
    margin: 0;
    padding: 0;
  }
  ul {
    list-style: none;
  }
  h1, h2 {
    margin: 0;
  }
  h1 {
    margin-top: 15px;
    font-size: 1em;
    font-weight: 200;
    a {
      text-decoration: none;
      color: #0066FF;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  .suite .suite h1 {
    margin-top: 0;
    font-size: .8em;
  }
  .hidden {
    display: none;
  }
  h2 {
    font-size: 12px;
    font-weight: normal;
    cursor: pointer;
  }
  .suite {
    margin-left: 15px;
  }
  .test {
    margin-left: 15px;
    overflow: hidden;
    &.pending:hover h2::after {
      content: '(pending)';
      font-family: arial, sans-serif;
    }
    &.pass {
      &.medium .duration {
        background: #c09853;
      }
      &.slow .duration {
        background: #b94a48;
      }
      &::before {
        content: '✓';
        font-size: 12px;
        display: block;
        float: left;
        margin-right: 5px;
        color: #00d6b2;
      }
      .duration {
        font-size: 9px;
        margin-left: 5px;
        padding: 2px 5px;
        color: #fff;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.2);
        -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.2);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.2);
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
        border-radius: 5px;
      }
      &.fast .duration {
        display: none;
      }
    }
    &.pending {
      color: #0b97c4;
      &::before {
        content: '◦';
        color: #0b97c4;
      }
    }
    &.fail {
      color: #c00;
      pre {
        color: black;
      }
      &::before {
        content: '✖';
        font-size: 12px;
        display: block;
        float: left;
        margin-right: 5px;
        color: #c00;
      }
    }
    pre {
      &.error {
        color: #c00;
        max-height: 300px;
        overflow: auto;
      }
      display: block;
      float: left;
      clear: left;
      font: 12px / 1.5 monaco, monospace;
      margin: 5px;
      padding: 15px;
      border: 1px solid #eee;
      max-width: 85%;
      /*(1)*/
      max-width: calc(100% - 42px);
      /*(2)*/
      word-wrap: break-word;
      border-bottom-color: #ddd;
      -webkit-border-radius: 3px;
      -webkit-box-shadow: 0 1px 3px #eee;
      -moz-border-radius: 3px;
      -moz-box-shadow: 0 1px 3px #eee;
      border-radius: 3px;
    }
    h2 {
      position: relative;
    }
    a.replay {
      position: absolute;
      top: 3px;
      right: 0;
      text-decoration: none;
      vertical-align: middle;
      display: block;
      width: 15px;
      height: 15px;
      line-height: 15px;
      text-align: center;
      background: #eee;
      font-size: 15px;
      -moz-border-radius: 15px;
      border-radius: 15px;
      -webkit-transition: opacity 200ms;
      -moz-transition: opacity 200ms;
      transition: opacity 200ms;
      opacity: 0.3;
      color: #888;
    }
    &:hover a.replay {
      opacity: 1;
    }
  }
}

/**
 * (1): approximate for browsers not supporting calc
 * (2): 42 = 2*15 + 2*10 + 2*1 (padding + margin + border)
 *      ^^ seriously
 */

#mocha-report {
  &.pass .test.fail, &.fail .test.pass {
    display: none;
  }
  &.pending .test {
    &.pass, &.fail {
      display: none;
    }
    &.pass.pending {
      display: block;
    }
  }
}

#mocha-error {
  color: #c00;
  font-size: 1.5em;
  font-weight: 100;
  letter-spacing: 1px;
}

#mocha-stats {
  position: fixed;
  top: 15px;
  right: 10px;
  font-size: 12px;
  margin: 0;
  color: #888;
  z-index: 1;
  .progress {
    float: right;
    padding-top: 0;
  }
  em {
    color: black;
  }
  a {
    text-decoration: none;
    color: inherit;
    &:hover {
      border-bottom: 1px solid #eee;
    }
  }
  li {
    display: inline-block;
    margin: 0 5px;
    list-style: none;
    padding-top: 11px;
  }
  canvas {
    width: 40px;
    height: 40px;
  }
}

#mocha code {
  .comment {
    color: #ddd;
  }
  .init {
    color: #2f6fad;
  }
  .string {
    color: #5890ad;
  }
  .keyword {
    color: #8a6343;
  }
  .number {
    color: #2f6fad;
  }
}

@media screen and (max-device-width: 480px) {
  #mocha {
    margin: 60px 0px;
    #stats {
      position: absolute;
    }
  }
}

#input { 
    background-color: transparent; 
    padding: 15px 30px;
    width:94%;
    border: solid #330099;  
    float: center;
    border-radius: 15px; 	/*Bordes redondeados*/
    line-height:19px;
}


#output { 
  margin-left:20px;
}

.examen {
   background-color: #fff; 
   background-image: 
   linear-gradient(90deg, transparent 79px, #abced4 79px, #abced4 81px, transparent 81px),
   linear-gradient(#eee .1em, transparent .1em);
   background-size: 100% 1.2em;
   border: #000000;  
   border-radius: 15px;   /*Bordes redondeados*/
}

.hidden      { display: none; }
.unhidden    { display: block; }

.myButton {
  background: #00f2fa;
  background-image: -webkit-linear-gradient(top, #00f2fa, #005a8a);
  background-image: -moz-linear-gradient(top, #00f2fa, #005a8a);
  background-image: -ms-linear-gradient(top, #00f2fa, #005a8a);
  background-image: -o-linear-gradient(top, #00f2fa, #005a8a);
  background-image: linear-gradient(to bottom, #00f2fa, #005a8a);
  -webkit-border-radius: 18;
  -moz-border-radius: 18;
  border-radius: 18px;
  font-family: Arial;
  color: #ffffff;
  font-size: 15px;
  padding: 5px 40px 5px 40px;
  border: solid #1f628d 3px;
  text-decoration: none;
}

.myButton:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}



.btn {
  background: #78c9ff;
  background-image: -webkit-linear-gradient(top, #78c9ff, #15557a);
  background-image: -moz-linear-gradient(top, #78c9ff, #15557a);
  background-image: -ms-linear-gradient(top, #78c9ff, #15557a);
  background-image: -o-linear-gradient(top, #78c9ff, #15557a);
  background-image: linear-gradient(to bottom, #78c9ff, #15557a);
  -webkit-border-radius: 18;
  -moz-border-radius: 18;
  border-radius: 18px;
  font-family: Arial;
  color: #ffffff;
  font-size: 15px;
  padding: 5px 40px 5px 40px;
  border: solid #1f628d 3px;
  text-decoration: none;
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}





@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);
@charset 'UTF-8';
/* Base Styles */
#cssmenu > ul,
#cssmenu > ul li,
#cssmenu > ul ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
#cssmenu > ul {
  position: relative;
  z-index: 597;
  float: left;
}
#cssmenu > ul li {
  float: left;
  min-height: 1px;
  line-height: 1.3em;
  vertical-align: middle;
  padding: 10px;
}
#cssmenu > ul li.hover,
#cssmenu > ul li:hover {
  z-index: 599;
  cursor: default;
}
#cssmenu > ul ul {
  visibility: hidden;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 598;
}
#cssmenu > ul ul li {
  float: none;
}
#cssmenu > ul li:hover > ul {
  visibility: visible;
}
/* Align last drop down RTL */
/* Theme Styles */
#cssmenu > ul a:link {
  text-decoration: none;
}
#cssmenu > ul a:active {
  color: #ffa500;
}
#cssmenu li {
  padding: 0;
  color: #000;
}
#cssmenu {
  font-family: 'Lato', sans-serif;
  width: auto;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  background: #1b9bff;
  font-size: 13px;
  -moz-box-shadow: inset 0 2px 2px rgba(255, 255, 255, 0.3);
  -webkit-box-shadow: inset 0 2px 2px rgba(255, 255, 255, 0.3);
  box-shadow: inset 0 2px 2px rgba(255, 255, 255, 0.3);
}
#cssmenu > ul {
  padding: 0 5px;
  -moz-box-shadow: inset 0 -2px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0 -2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 -2px 2px rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  display: block;
  float: none;
  zoom: 1;
}
#cssmenu > ul:before {
  content: '';
  display: block;
}
#cssmenu > ul:after {
  content: '';
  display: table;
  clear: both;
}
#cssmenu > ul > li {
  padding: 8px 5px;
}
#cssmenu > ul > li > a,
#cssmenu > ul > li > a:link,
#cssmenu > ul > li > a:visited {
  text-shadow: 0 -1px 1px #004881;
  color: #fff;
  padding: 7px 20px;
  display: block;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}
#cssmenu > ul > li > a:hover,
#cssmenu > ul > li:hover > a {
  background-color: #0082e7;
}
#cssmenu li li a {
  color: #8b8b8b;
  font-size: 13px;
}
#cssmenu li li a:hover {
  color: #5c5c5c;
  border-color: #5c5c5c;
}
#cssmenu ul ul {
  margin: 0 10px;
  padding: 0 10px;
  float: none;
  background: #efefef;
  border: 2px solid #1b9bff;
  border-top: none;
  right: 0;
  left: 0;
  -webkit-border-radius: 0 0 3px 3px;
  -moz-border-radius: 0 0 3px 3px;
  -ms-border-radius: 0 0 3px 3px;
  -o-border-radius: 0 0 3px 3px;
  border-radius: 0 0 3px 3px;
  -moz-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
}
#cssmenu ul > li > ul > li {
  margin: 0 10px 0 0;
  position: relative;
  padding: 0;
  float: left;
}
#cssmenu ul > li > ul > li > a {
  padding: 10px 20px 10px 10px;
  display: block;
}
#cssmenu ul > li > ul > li.has-sub > a:before {
  content: '';
  position: absolute;
  top: 18px;
  right: 6px;
  border: 5px solid transparent;
  border-top: 5px solid #8b8b8b;
}
#cssmenu ul > li > ul > li.has-sub > a:hover:before {
  border-top: 5px solid #5c5c5c;
}
#cssmenu ul ul ul {
  width: 200px;
  top: 100%;
  border: 2px solid #1b9bff;
}
#cssmenu ul ul ul li {
  float: none;
}
